@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}
/* makes all pages have 0 margins since the browser adds its own margins */
body {
  margin: auto 0;
  font-family: "Lato", sans-serif;
}

/* KyotoVenture Navigation */
.kyotoVentureNavBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #F8FDF9;
  height: 96px;
  position: sticky;
  top: 0;  
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.kyotoVentureLogo {
  display: flex;
  align-items: center;
  color: #013D79;
  font-family: "Noto Serif", serif;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  padding: 0px 0px;
  gap: 8px;
  margin-left: 80px;
  margin-right: 300px;
}      

.title {
  color: #013d79;
  font-size: 1.5em;
  margin-bottom: 4px;
}
.navbar-links {
  list-style: none;
  display: flex;
  gap: 48px;
}
.navbar-links li {
  position: relative;
}
.navbar-links a {
  text-decoration: none;
  font-size: 1.25em;
  display: block;
  color: #013D79;
}
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #EBFBEE;
  list-style: none;
  padding: 8px 0;
  min-width: 134px;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.dropdown li a {
  font-size: 1em;
  color: #013D79;
  padding: 8px;
  display: block;
}
.dropdown li a:hover {
  font-size: 1em;
  color: #013D79;
  padding: 8px;
  display: block;
  font-weight: bold;
}
.navbar-links li:hover .dropdown {
  display: block;
}

/* Hide logged-in and logged-out menus*/
#logged-in {
  display: none;
}

#logged-out {
  display: block;
}
/* .profile-container {
  position: relative;
  margin-left: 32px;
} */
/* .profile-icon {
 width: 40px;
 height: 40px;
} */
/* .profile-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  list-style: none;
  padding: 10px 0;
  min-width: 150px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.profile-dropdown li a {
  color: black;
  padding: 8px;
  display: block;
}
.profile-container:hover .profile-dropdown {
  display: block;
} */

.activitiesBreadcrumb {
  color: black !important;
  text-decoration: none !important;
}
.activitiesBreadcrumb:hover {
  color: #99b1c9 !important;
}

.fa-filter {
  margin-left: 4px;
}
.filterSpacing {
  display: flex;
  align-items: center;
}
.clear-all {
  margin-left: 6px;
}
.clear-all:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* Checkbox label customized */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hides default browser checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* KyotoVenture custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid #a481c4;
  border-radius: 2px;
}

/* When checkbox is checked */
.checkbox-container input:checked ~ .checkmark {
  background-color: #a481c4;
}
/* Checkmark indicator */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Display checkmark */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
/* Checkmark style */
.checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.area-section {
  position: relative;
  top: 80px;
}
/* Checkbox Divs */
.area-checkbox-group {
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
}

.interests-checkbox-group {
  margin-top: 120px;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
}
.interests-header {
  position: relative;
  top: 120px;
}
/* My Itinerary Button */
.myItineraryButton {
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px;
  /* visibility: hidden; */
}
.myItineraryButton button {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  gap: 8px;
  font-weight: normal;
  border: none;
  border-radius: 8px;
  background-color: white;
  color: #1f2b59;
  cursor: pointer;
}
.myItineraryButton button:hover {
  background-color: #e9d6fa;
}
.activitiesCalendar {
  font-size: 24px;
}

/* Tags */
.selected-checkbox-tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.tag {
  background-color: #a481c4;
  color: white;
  padding: 8px 12px;
  border-radius: 16px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.tag button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.activities-search-box {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}
.activities-search-box input {
  width: 628px;
  height: 48px;
  padding: 8px;
  font-size: 16px;
  border: 2px none;
  border-radius: 4px;
  background-color: #e6ecf2;
}

.activities-search-button {
  padding: 8px 32px;
  background-color: #a481c4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: all 150ms ease-in-out;
}
.activities-search-button:hover {
  background: #013d79;
  color: white;
  cursor: pointer;
}
/* Activities Search Button Hover */
/* .activities-search-button:hover {
  background-color: #8f70b2;
} */

/* Cards Container */
/* .card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(302px, 1fr));
  gap: 24px;
} */
/* Screen width 1440px and under and 921px and above (Standard Desktop Size)*/
@media (max-width: 1440px) and (min-width: 921px) {
  .card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
/* Screen width above 1441px (Bigger Screen Size) */
@media (min-width: 1441px) {
  .card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(302px, 1fr));
    gap: 24px;
  }
}
/* Phone Size */
/* @media (max-width: 393) {
  .card-list {
    display: grid;
    grid-template-columns: 1fr;
  }
} */

/* Card Styling */
.card {
  border: 1px none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
  /* width: 302px; */
  height: 440px;
  overflow: hidden;
  cursor: pointer;
}
/* .card img {
  cursor: pointer;
} */
.card-image {
  width: 100%;
  height: 264px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.less-bold {
  font-weight: 500;
}
.activityTitle {
  margin-left: 248px;
  font-weight: 500;
}

/* Activity Card Ellipses */
.ellipses {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 2px;
}

/* top of cards (Area & Interest) */
.cardTop {
  color: gray;
  position: relative;
  bottom: 10px;
  left: 8px;
  font-size: 16px;
}
.cardTitle {
  font-size: 20px;
  position: relative;
  bottom: 24px;
  left: 8px;
}
/* Star Icon */
.activitiesStar {
  color: #a481c4;
  font-size: 20px;
  position: relative;
  left: 8px;
  bottom: 52px;
}
/* Star Rating */
.rating {
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin-left: 4px;
}
.addItineraryButton {
  color: white;
  font-size: 16px;
  background-color: #013d79;
  padding: 16px 32px;
  border: solid #013d79;
  border-radius: 8px;
  position: relative;
  top: 4px;
  left: 16px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.addItineraryButton:hover {
   background: #CDBADE;
   font-weight: 600;
  color: #013D79;
  cursor: pointer;
}

.activityPlus {
  margin-right: 8px;
  font-size: 18px;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  padding: 16px 8px;
}

.pagination a {
  color: #a481c4;
  padding: 8px 16px;
  text-decoration: none;
  border: 2px solid white;
  margin: 0 4px;
  border-radius: 4px;
  transition: background-color 0.4s, color 0.4s;
}

.pagination a:hover {
  background-color: #a481c4;
  color: white;
}

.pagination a.active {
  background-color: #a481c4;
  color: white;
  border: 2px solid #a481c4;
}

.pagination a.disabled {
  pointer-events: none;
  color: #ccd8e4;
}

#activitiesSortBy {
  padding: 8px 8px;
  font-size: 16px;
  border: 2px solid #a481c4;
  border-radius: 4px;
  background-color: white;
  width: 200px;
}

#activitiesSortBy:hover {
  border-color: #bcf0c6;
}

/* Left-Side Layout Container for Breadcrumb, Filters,
Sort, Area, Price, Interests */
.left-layout-container {
  flex: 0 0 300px;
  /* display: grid; */
  /* grid-template-columns: 300px; */
  padding-right: 24px;
  border-right: 2px solid darkgray;
  margin-top: 120px;
}

/* Main Content Section */
.main-content {
  flex: 1;
  margin-top: 50px;
}
.page-layout {
  display: flex;
  gap: 24px;
  margin-left: 80px;
  margin-right: 80px;
  /* padding: 0 80px; */
  /* margin-top: 200px; */
}

/* Placeholder Navigation */
/* .main-nav {
  display: flex;
  list-style: none;
  font-size: 1.25rem;
  margin: 0;
  height: 96px;
  align-items: center;
}

.kyotoVentureHeader li {
  padding: 24px;
  margin-top: 15px;
}

.kyotoVentureHeader a {
  color: #1f2b59;
  text-decoration: none;
}

.kyotoVentureHeader {
  background-color: #fafefb;
  border: 1px solid #001429;
  margin-left: 80px;
  margin-right: 80px;
  justify-items: center;
}

.kyotoVentureNavTitle {
  margin-top: 28px;
  font-size: 2rem;
  color: #1f2b59;
} */

/* Hero Section */
 /* Styles Hero Div */
  /* Gallery Section Styling */
  .hero-gallery {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    text-align: center;
    margin-top: 0 !important; /* Override any inherited margin with !important */
    margin-top: -50px !important; /* Use a small negative margin to eliminate any gap */
    padding-top: 0 !important;
    z-index: 1; 
  }
  /* Gallery Div Styling */
  .hero-gallery .gallery-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    transition: transform 0.5s ease; /* Added ease transition for the container */
  }
  /* Gallery Display Styling */
  .hero-gallery .gallery {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease; /* Added ease transition */
  }
  /* Gallery Img Styling */
  .hero-gallery .gallery-image {
    width: 100%;
    height: 700px;
    object-fit: cover;
    display: none; /* Hide images by default */
    transition: transform 0.5s ease; /* Added ease transition */
  }
  
  .hero-gallery .gallery-image:first-child {
    display: block; /* Display the first image */
  }
  
  /* Gallery Arrow Styling */
  .hero-gallery .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(182, 154, 208, 0.9); /* B69AD0 with 80% opacity */
    color: white;
    border: 3px solid rgba(255, 255, 255, 0.9);
    padding: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-gallery .arrow:hover {
    border: 3px solid rgba(1, 61, 121);
    color: rgba(1, 61, 121);
    background-color: rgba(188, 240, 198, 0.9);
  }
  /* Gallery Arrow Positioning */
  .hero-gallery .left-arrow {
    left: 80px;
  }
  /* Gallery Arrow Positioning */
  .hero-gallery .right-arrow {
    right: 80px;
  }
  /* Gallery Label Styling */
  .hero-gallery .gallery-label {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(1, 61, 121, 0.7);
    color: white;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 4px;
  }
  
  .hero-gallery .details-button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #013d79;
    color: white;
    border: none;
    padding: 20px 60px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
  }
  
  .hero-gallery .details-button:hover {
    background-color: #bcf0c6;
    color: #013d79;
    font-weight: 600;
  }
  

.title-button {
  position: absolute;
  top: 16px;
  background-color: #8b908a;
  color: white;
  padding: 8px;
}
/* Profile Grid */
.itinerary-collection-grid-wrapper {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
  padding: 24px 80px;
  margin-left: 320px;
}

.itinerary img {
  width: 300px;
  height: 320px;
  object-fit: cover;
  border-radius: 20px;
  align-items: center;
}
/* 
.itinerary > img {
  width: 100%;
} */

/* footer css */
p {
  font-family: Lato;
}

.logo img {
height: 100.66px;
width: 110.66px;
}


.destination {
display: flex;
flex-direction: column;
grid-column: 2;
margin-right: 50px;
}
.destination p {
margin: 0;
line-height: 2;
}

.guide {
display: flex;
flex-direction: column;
grid-column: 3;
margin-right: 50px;

}
.guide p {
margin: 0;
line-height: 2;
}

.support {
display: flex;
flex-direction: column;
grid-column: 4;
margin-right: 50px;

}
.support p {
margin: 0;
line-height: 2;
}

.subscribe {
background-color: #013d79;
color: white;
border: none;
height: 30px;
width: 80px;
border-radius: 8px;
margin-top: 10px;
}

.news {
display: flex;
flex-direction: column;
grid-column: 5;
padding-left: 80px;
}
.news p {
margin: 0;
line-height: 1.5;
}

.logo-grid {
display: grid;
grid-template-rows: auto;
grid-template-columns: repeat(5, auto);
background-color: #cdbade;
padding-top: 40px;
padding-bottom: 40px;
padding-left: 20px;
padding-right: 20px;
}

.logo {
grid-column: 1;
margin-right: 50px;
margin-top: 30px;
padding-left: 15px;

}

.email-bar {
color: #ebe3f2;
}

.receive {
font-size: 13px;
padding-bottom: 5px;
}

/* Styling for popups */
.move-activity-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  min-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
}

.popup-confirm-button, .popup-cancel-button {
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border: none;
  transition: background-color 0.2s;
}

.popup-confirm-button {
  background-color: #013d79;
  color: white;
}

.popup-confirm-button:hover {
  background-color: #012d59;
}

.popup-cancel-button {
  background-color: #cdcdcd;
  color: black;
}

.popup-cancel-button:hover {
  background-color: #bbbbbb;
}

.delete-confirmation-message {
  margin: 16px 0;
  font-size: 16px;
}

.homeStar {
  color: #a481c4;
}
.homeRating {
  margin-left: 4px;
}